src/main/webapp/META-INF/PersonFriendsIface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PersonFriendsIface" targetNamespace="http://api.soap.wklab.epam.com/" xmlns:ns1="http://api.soap.wklab.epam.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema xmlns:tns="http://wklab.epam.com/Person" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://wklab.epam.com/Person" version="1.0">

  <xs:element name="Person">
    <xs:complexType>
      <xs:all>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="birth" type="xs:date"/>
        <xs:element name="friends" type="tns:Friends"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="Friends">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tns:Person"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:ns1="http://wklab.epam.com/Person" xmlns:tns="http://api.soap.wklab.epam.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://api.soap.wklab.epam.com/">
  <xs:import namespace="http://wklab.epam.com/Person"/>
  <xs:element name="getFriends" type="tns:getFriends"/>
  <xs:element name="getFriendsResponse" type="tns:getFriendsResponse"/>
  <xs:complexType name="getFriends">
    <xs:sequence>
      <xs:element minOccurs="0" name="person">
        <xs:complexType>
          <xs:all>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="birth" type="xs:date"/>
            <xs:element name="friends" type="ns1:Friends"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="year" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFriendsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="friends" type="ns1:Friends"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoMatchedFriendsException" type="tns:NoMatchedFriendsException"/>
  <xs:complexType name="NoMatchedFriendsException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getFriends">
    <wsdl:part name="parameters" element="ns1:getFriends">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NoMatchedFriendsException">
    <wsdl:part name="NoMatchedFriendsException" element="ns1:NoMatchedFriendsException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFriendsResponse">
    <wsdl:part name="parameters" element="ns1:getFriendsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonFriendsIface">
    <wsdl:operation name="getFriends">
      <wsdl:input name="getFriends" message="ns1:getFriends">
    </wsdl:input>
      <wsdl:output name="getFriendsResponse" message="ns1:getFriendsResponse">
    </wsdl:output>
      <wsdl:fault name="NoMatchedFriendsException" message="ns1:NoMatchedFriendsException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
